.ut {
    color: red;
}
#wrapper {
    background-color:#FFFFFF;
    color:"#666666";
    font-family:arial;
}
h1 {
    color:#FFFFFF;
    background-color:#003058;
    font-family:Georgia, 'Times New Roman', Times, serif;


}
header h1 {
    line-height: 140%;
    padding: 0.5rem;
}
nav {
    background-color: #F3F3F3;
    font-weight: bold;
}
h2 {
    color:#424242;
    font-family:Georgia, 'Times New Roman', Times, serif;
}