.ut {
    color: #BA1C21;
    font-weight:bold;
}
#wrapper {
    margin-left:auto;
    margin-right:auto;
    background-color:#ffffff;
    min-width:960px;
    max-width:2048px;
    width: 80%;
    box-shadow:0px 3px 3px rgba(66,66,66,0.3);
}
body {
background: linear-gradient(to bottom, #eeeeee, #ffffff);
background-attachment: fixed;
color: #666666;
font-family: verdana, Arial, sans-serif;
}
h1 {
    color:#FFFFFF;
    background-color:#003058;
    font-family:Georgia, 'Times New Roman', Times, serif;
  background-image: url('utahtechimages/utahtechlogo.svg'); 
  background-position: right;
  background-repeat: no-repeat;
  padding-left: 1em;
  background-origin: content-box;
  margin-bottom: 0;
}
header h1 {
    line-height: 140%;
    padding: 0.5rem;
}
nav {
    background-color: #F3F3F3;
    font-weight: bold;
    padding-right:0.5rem;
    padding-left:2rem;
    padding-top:0.5rem;
    padding-bottom:0.5rem;
}
h2 {
    color:#424242;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
footer {
    font-size: 0.7rem;
    font-style: italic;
    text-align:center;
    padding:1rem;
}
dt {
    color:#003058;
    font-weight:bold;
}
#homehero {
    height: 300px;
  background-image: url('utahtechimages/homehero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#studenthero {
    height: 300px;
  background-image: url('utahtechimages/studenthero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#facultyhero {
    height: 300px;
  background-image: url('utahtechimages/facultyhero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
h3{
    color:#003058;
}
main {
    padding-left:2rem;
    padding-right:2rem;
}
nav a { text-decoration: none; }